<youdrive-sidenav-container panel="solid">
  <youdrive-sidenav
    direction="right"
    breakpoint="md"
    [opened]="true"
    hoverAble="true"
    mode="side"
    [toggleableBtn]="true"
    size="custom1">
    <div class="app-content app-content--default">
      <div class="app-productive-heading-02">Resizable & hoverable</div>
    </div>
  </youdrive-sidenav>
  <youdrive-header [bordered]="true">
    <youdrive-header-title>
      Main header
    </youdrive-header-title>
    <youdrive-header-tools>
      <button ibmButton="primary" size="sm" class="mr-1">
        Button
        <svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
      </button>
    </youdrive-header-tools>
  </youdrive-header>
  <youdrive-sidenav
    breakpoint="md"
    [opened]="true"
    hoverAble="true"
    mode="side"
    [toggleableBtn]="true"
    size="custom1">
    <div class="app-content app-content--default">
      <div class="app-productive-heading-02">Resizable & hoverable</div>
    </div>
  </youdrive-sidenav>
</youdrive-sidenav-container>
