<div class="mb-8" fxHide fxShow.lt-md>
  <youdrive-logo class="cursor-pointer" logoWidth="130px"></youdrive-logo>
</div>
<h1 class="app-expressive-heading-06 mb-1">Зареєструватися</h1>
<div class="app-body-long-02 mb-8">
  Вже маєте аккаунт?
  <a ibmLink routerLink="../signin">Увійти</a>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="app-form">
    <div fxLayout="row" class="app-form__row">
      <div fxFlex="50">
        <div class="app-form__item">
          <ibm-label
            [helperText]="''"
            [invalid]="isValid('firstName')"
            [invalidText]="'Це поле є обов`язковим'">
            Ім'я
            <input
              formControlName="firstName"
              ibmText
              size="md"
              [invalid]="isValid('firstName')"
              [disabled]="false"
              theme="light"
              [placeholder]="'Ім`я'"
              [autocomplete]="true">
          </ibm-label>
        </div>
      </div>
      <div fxFlex="50">
        <div class="app-form__item">
          <ibm-label
            [helperText]="''"
            [invalid]="isValid('lastName')"
            [invalidText]="'Це поле є обов`язковим'">
            Прізвище
            <input
              formControlName="lastName"
              ibmText
              size="md"
              [invalid]="isValid('lastName')"
              [disabled]="false"
              theme="light"
              [placeholder]="'Прізвище'"
              [autocomplete]="true">
          </ibm-label>
        </div>
      </div>
    </div>
    <div class="app-form__item">
      <ibm-label
        [helperText]="''"
        [invalid]="isValid('email')"
        [invalidText]="'Це поле є обов`язковим'">
        Електронна адреса
        <input
          formControlName="email"
          ibmText
          size="md"
          [invalid]="isValid('email')"
          [disabled]="false"
          theme="light"
          [placeholder]="'Електронна адреса'"
          [autocomplete]="true">
      </ibm-label>
    </div>
    <div class="app-form__item">
      <ibm-label
        [helperText]="''"
        [invalid]="isValid('company')"
        [invalidText]="'Це поле є обов`язковим'">
        Компанія
        <input
          formControlName="company"
          ibmText
          size="md"
          [invalid]="isValid('company')"
          [disabled]="false"
          theme="light"
          [placeholder]="'Компанія'"
          [autocomplete]="true">
      </ibm-label>
    </div>
    <div class="app-form__item app-form__item--opts">
      <div class="flex justify-between items-center">
        <ibm-checkbox formControlName="condition">
          Я прочитав та приймаю
          <a class="app-link">Умови & Положення</a>
        </ibm-checkbox>
      </div>
    </div>
    <div class="app-form__submit">
      <button type="submit" class="app-ibm-btn-full" ibmButton="primary" size="field">
        Створити аккаунт
        <svg class="bx--btn__icon" ibmIconArrowRight size="20"></svg>
      </button>
    </div>
  </div>
</form>


