<div class="app-a-box app-scrollbar-fix">
  <ng-scrollbar>
    <div class="bg-cover cursor-pointer" style="background-image:url('assets/img/pixabay/orange-1377310_1920.jpg');height: 200px"></div>
    <div fxLayout="row wrap">
      <div fxFlex.gt-md="240px" fxFlex="100%">
        <div class="app-content app-content--default relative sticky top-0" ngClass.gt-md="-mt-20">
          <div fxLayout="row wrap">
            <div fxFlex="30%" fxFlex.gt-md="100%">
              <div class="">
                <img class="w-full rounded-lg border-4 border-solid app-border-container" src="assets/img/avatar/avatar2.jpg"/>
              </div>
            </div>

            <div fxFlex="70%" fxFlex.gt-md="100%">
              <div ngClass.lt-md="ml-2" ngClass.md="ml-2" ngClass.gt-md="pt-4">
                <div>
                  <div class="app-productive-heading-03 font-bold">Богдан Когутницький</div>
                  <div class="app-body-short-01 opacity-75">@body_koh</div>
                </div>
                <div class="app-body-short-01 mt-4 mb-4">
                  Професійний водій з великим досвідом роботи. Працював з різними клієнтами, забезпечуючи безпечні та комфортні поїздки.
                </div>
              </div>
            </div>
          </div>

          <div class="relative">
            <div class="flex items-center mb-2">
              <youdrive-ibm-icon iconName="pin" iconSize="20"></youdrive-ibm-icon>
              <div class="ml-3">
                <div class="app-productive-heading-01">Київ, Україна</div>
              </div>
            </div>
            <div class="flex items-center mb-2">
              <youdrive-ibm-icon iconName="industry" iconSize="20"></youdrive-ibm-icon>
              <div class="ml-3">
                <div class="app-productive-heading-01">Автопарк Київ</div>
              </div>
            </div>
            <div class="flex items-center">
              <youdrive-ibm-icon iconName="portfolio" iconSize="20"></youdrive-ibm-icon>
              <div class="ml-3">
                <div class="app-productive-heading-01">Водій</div>
              </div>
            </div>
          </div>

          <div class="mt-5">
            <div class="app-subtitle mb-2">НАВИЧКИ</div>
            <ibm-tag type="cool-gray">водіння</ibm-tag> <ibm-tag type="cool-gray">навігування</ibm-tag>
            <ibm-tag type="cool-gray">комунікація</ibm-tag> <ibm-tag type="cool-gray">техобслуговування</ibm-tag>
            <ibm-tag type="cool-gray">перевезення</ibm-tag> <ibm-tag type="cool-gray">маршрутизація</ibm-tag>
          </div>
        </div>
      </div>
      <div fxFlex.gt-md="" fxFlex="100%">
        <div class="mt-4">
          <div class="app-card app-card--m-b">
            <div class="app-card__blocks" fxLayout="row wrap" ngClass.lt-lg="app-card__blocks--collapse">
              <div fxFlex="33.33%" fxFlex.gt-md="20%" class="app-card__block">
                <div class="app-subtitle">ЗАМОВЛЕННЯ</div>
                <div class="app-productive-heading-03">567</div>
              </div>
              <div fxFlex="33.33%" fxFlex.gt-md="20%" class="app-card__block">
                <div class="app-subtitle">ВІДГУКИ</div>
                <div class="app-productive-heading-03">4,8</div>
              </div>
              <div fxFlex="33.33%" fxFlex.gt-md="20%" class="app-card__block">
                <div class="app-subtitle">ФОТО</div>
                <div class="app-productive-heading-03">123</div>
              </div>
              <div fxFlex="50%" fxFlex.gt-md="20%" class="app-card__block">
                <div class="app-subtitle">СТАТУС</div>
                <div class="app-productive-heading-03">Активний</div>
              </div>
              <div fxFlex="50%" fxFlex.gt-md="20%" class="app-card__block">
                <div class="app-subtitle">РЕЙТИНГ</div>
                <div class="app-productive-heading-03">4,45</div>
              </div>
            </div>
          </div>
        </div>

        <ibm-tab-header-group class="app-ibm-tab-auto">
          <ibm-tab-header>
            Стіна
          </ibm-tab-header>
          <ibm-tab-header>
            Особисте
          </ibm-tab-header>
          <ibm-tab-header>
            Фото
          </ibm-tab-header>
          <ibm-tab-header>
            Відео
          </ibm-tab-header>
        </ibm-tab-header-group>

        <div class="app-card app-card--m-b mb-4">
          <div class="app-card__content">
            <div class="flex justify-between mb-4">
              <div class="flex items-center">
                <img class="w-12 rounded mr-2" src="assets/img/avatar/avatar3.jpg"/>
                <div>
                  <div class="app-productive-heading-02">Іван Петров <span class="app-helper-text-01 opacity-5 ml-1">Клієнт</span></div>
                  <div class="app-label-01">Водій</div>
                  <div class="app-label-01">3 дні тому</div>
                </div>
              </div>
              <div>
                <button ibmButton="ghost" size="sm" class="bx--btn--icon-only bx--btn--remove-tooltip">
                  <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
                </button>
              </div>
            </div>
            <div class="app-body-long-02 mb-4">
              Чудовий водій! Швидко доставив мене до місця призначення, завжди був ввічливим і професійним.
            </div>
            <div fxLayout="row wrap" fxLayoutGap="3px grid" style="min-height: 350px;">
              <div fxFlex="50%" fxFlex.gt-md="50%" style="min-height: 350px;">
                <div class="bg-cover cursor-pointer" fxFlex style="background-image:url('assets/img/pixabay/new-york-2699520_640.jpg')"></div>
              </div>
              <div fxFlex="25%" fxFlex.gt-md="25%" style="min-height: 350px;">
                <div fxFlex fxLayout="column" fxLayoutGap="3px">
                  <div class="bg-cover cursor-pointer" fxFlex style="background-image:url('assets/img/pixabay/dusk-404072_640.jpg')"></div>
                  <div class="bg-cover cursor-pointer" fxFlex style="background-image:url('assets/img/pixabay/road-238458_640.jpg')"></div>
                </div>
              </div>
              <div fxFlex="25%" fxFlex.gt-md="25%" style="min-height: 350px;">
                <div fxFlex fxLayout="column" fxLayoutGap="3px">
                  <div class="bg-cover cursor-pointer" fxFlex style="background-image:url('assets/img/pixabay/house-569115_640.jpg')"></div>
                  <div class="bg-cover cursor-pointer" fxFlex style="background-image:url('assets/img/pixabay/grand-central-station-690180_640.jpg')"></div>
                </div>
              </div>
            </div>
            <div class="flex justify-between items-center mt-4">
              <div class="flex items-center ">
                <div class="app-img-select">
                  <img src="assets/img/avatar/avatar3.jpg" class="app-img-select__item w-8 rounded"/>
                  <img src="assets/img/avatar/avatar7.jpg" class="app-img-select__item w-8 rounded"/>
                  <img src="assets/img/avatar/avatar6.jpg" class="app-img-select__item w-8 rounded"/>
                </div>
                <div class="app-label-01 ml-2">Ви та ще 12 людей лайкнули це</div>
              </div>
              <div class="flex items-center">
                25 коментарів
              </div>
            </div>
            <div class="pt-2 mt-4 app-border-t">
              <button ibmButton="ghost" size="sm" class="bx--btn__icon--left">
                <svg class="bx--btn__icon" ibmIconChat size="16"></svg>
                <span>Коментар</span>
              </button>
              <button ibmButton="ghost" size="sm" class="bx--btn__icon--left">
                <svg class="bx--btn__icon" ibmIconShare size="16"></svg>
                <span>Поділитися</span>
              </button>
              <button ibmButton="ghost" size="sm" class="bx--btn__icon--left">
                <svg class="bx--btn__icon" ibmIconTask size="16"></svg>
                <span>Лайк</span>
              </button>
            </div>
          </div>
        </div>

        <div class="app-card app-card--m-b mb-4">
          <div class="app-card__content">
            <div class="flex justify-between mb-4">
              <div class="flex items-center">
                <img class="w-12 rounded mr-2" src="assets/img/avatar/avatar7.jpg"/>
                <div>
                  <div class="app-productive-heading-02">Марія Сидорова <span class="app-helper-text-01 opacity-5 ml-1">Клієнт</span></div>
                  <div class="app-label-01">Водій</div>
                  <div class="app-label-01">5 днів тому</div>
                </div>
              </div>
              <div>
                <button ibmButton="ghost" size="sm" class="bx--btn--icon-only bx--btn--remove-tooltip">
                  <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
                </button>
              </div>
            </div>
            <div class="app-body-long-02 mb-4">
              Дуже хороший досвід поїздки! Машина чиста, водій ввічливий та пунктуальний. Рекомендую всім!
            </div>
            <div fxLayout="row wrap" fxLayoutGap="3px grid" style="min-height: 350px;">
              <div fxFlex="50%" fxFlex.gt-md="50%" style="min-height: 350px;">
                <div class="bg-cover cursor-pointer" fxFlex style="background-image:url('assets/img/pixabay/taj-mahal-1209004_640.jpg')"></div>
              </div>
              <div fxFlex="25%" fxFlex.gt-md="25%" style="min-height: 350px;">
                <div fxFlex fxLayout="column" fxLayoutGap="3px">
                  <div class="bg-cover cursor-pointer" fxFlex style="background-image:url('assets/img/pixabay/rock-540130_640.jpg')"></div>
                  <div class="bg-cover cursor-pointer" fxFlex style="background-image:url('assets/img/pixabay/house-569115_640.jpg')"></div>
                </div>
              </div>
              <div fxFlex="25%" fxFlex.gt-md="25%" style="min-height: 350px;">
                <div fxFlex fxLayout="column" fxLayoutGap="3px">
                  <div class="bg-cover cursor-pointer" fxFlex style="background-image:url('assets/img/pixabay/house-569115_640.jpg')"></div>
                  <div class="bg-cover cursor-pointer" fxFlex style="background-image:url('assets/img/pixabay/house-569115_640.jpg')"></div>
                </div>
              </div>
            </div>
            <div class="flex justify-between items-center mt-4">
              <div class="flex items-center ">
                <div class="app-img-select">
                  <img src="assets/img/avatar/avatar7.jpg" class="app-img-select__item w-8 rounded"/>
                  <img src="assets/img/avatar/avatar6.jpg" class="app-img-select__item w-8 rounded"/>
                  <img src="assets/img/avatar/avatar5.jpg" class="app-img-select__item w-8 rounded"/>
                </div>
                <div class="app-label-01 ml-2">Ви та ще 8 людей лайкнули це</div>
              </div>
              <div class="flex items-center">
                18 коментарів
              </div>
            </div>
            <div class="pt-2 mt-4 app-border-t">
              <button ibmButton="ghost" size="sm" class="bx--btn__icon--left">
                <svg class="bx--btn__icon" ibmIconChat size="16"></svg>
                <span>Коментар</span>
              </button>
              <button ibmButton="ghost" size="sm" class="bx--btn__icon--left">
                <svg class="bx--btn__icon" ibmIconShare size="16"></svg>
                <span>Поділитися</span>
              </button>
              <button ibmButton="ghost" size="sm" class="bx--btn__icon--left">
                <svg class="bx--btn__icon" ibmIconTask size="16"></svg>
                <span>Лайк</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ng-scrollbar>
</div>
