<div class="absolute bottom-0 right-0 left-0 top-0 opacity-50 z-0 app-bg-pattern-svg"></div>
<div class="flex items-center h-full z-10 relative">
  <div class="px-16">
    <div class="app-display-04 mb-4">
      <div>Ласкаво просимо до youdrive</div>
      <div>професійної платформи</div>
      <div>для доставки та логістики</div>
      <div>побудованої з компетенцією</div>
    </div>
    <p class="app-body-long-02 opacity-75" style="max-width:440px;">youdrive допомагає вам зосередитися на вашому бізнесі,
      забезпечуючи ефективне та надійне управління доставкою завдяки добре розробленим інтерфейсам користувача
      та передовим логістичним рішенням</p>
  </div>
</div>
<div class="absolute top-0 right-0 left-0 z-10">
  <div class="px-16 py-8 flex justify-between">
    <youdrive-logo type="white" logoWidth="160px"></youdrive-logo>
  </div>
</div>
<div class="absolute bottom-0 right-0 left-0 z-10">
  <div class="px-16 py-8 flex justify-between">
    <div>©2020 youdrive</div>
    <div>
      <a href="#" class="mr-3 text-white app-link">Конфіденційність</a>
      <a href="#" class="mr-3 text-white app-link">Безпека</a>
      <a href="#" class="text-white app-link">Юридична інформація</a>
    </div>
  </div>
</div>
