<section class="container">
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/bc442400e582e895334eb564eb76e89e1b693d86a160f8dc51ad8851141ff9e2?apiKey=9ad07d47002340f1b35c223574dff94d&" class="background-img" alt="" />
  <article class="card">
    <header class="header">
      <section class="shipment-info">
        <p class="label">Shipment number</p>
        <h1 class="shipment-number">EV-2017002346</h1>
      </section>
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/8cfd73fba130fbbee45e2d91b16cbba631236678bda0beaee131d1faf31cc917?apiKey=9ad07d47002340f1b35c223574dff94d&" class="shipment-img" alt="" />
    </header>
    <p class="material-type">Food Materials</p>
    <div class="divider"></div>
    <section class="route-info">
      <article class="route-step">
        <div class="current-location">
          <div class="current-location-marker"></div>
        </div>
        <div class="route-line"></div>
      </article>
      <section class="address">
        <h2 class="address-title">2972 Westheimer</h2>
        <p class="address-body">Rd. Santa Ana, Illinois 85486</p>
      </section>
    </section>
    <section class="destination-info">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6ce7ac06bea13437e1e4b7f5cdd1dfc03447dfc9a24666e9ff895bb6c876a925?apiKey=9ad07d47002340f1b35c223574dff94d&" class="destination-img" alt="" />
      <section class="destination">
        <h2 class="destination-title">8502 Preston</h2>
        <p class="destination-body">Rd. Inglewood, Maine 98380</p>
      </section>
    </section>
    <div class="secondary-divider"></div>
    <footer>
      <section class="client-info">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b2e96d96327ceb960423352929d7187508c3747db0e657be5ad47cb452d5b759?apiKey=9ad07d47002340f1b35c223574dff94d&" class="client-img" alt="Client's profile picture" />
        <section class="client-details">
          <p class="client-label">Client</p>
          <h2 class="client-name">Darrell Steward</h2>
          <p class="client-company">Mariene, LTD</p>
        </section>
      </section>
      <section class="social-icons">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/515606f50c1664a331ea5b31fbd074c4f0fb534f5a16c7d1bca821a3ed1b307e?apiKey=9ad07d47002340f1b35c223574dff94d&" class="social-icon" alt="Facebook icon" />
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5d0c07936114f1f85b5a2e4a295344934aa0517e42f3b0538ff958ddcec774ed?apiKey=9ad07d47002340f1b35c223574dff94d&" class="social-icon" alt="LinkedIn icon" />
      </section>
    </footer>
  </article>
</section>
