<div fxFill fxLayout="column">
  <youdrive-header>
    <youdrive-header-title>
      Поштова скринька
    </youdrive-header-title>
    <youdrive-header-tools>
      <button (click)="onCompose()" ibmButton="primary" size="sm">
        Написати
        <svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
      </button>
    </youdrive-header-tools>
  </youdrive-header>
  <div fxFlex class="relative">
    <youdrive-sidenav-container panel="solid">
      <youdrive-sidenav
        [breakpoint]="'md'"
        [direction]="'left'"
        [opened]="sidebarVisible"
        (visibleChange)="sidebarVisible=$event"
        [hoverAble]="true"
        [mode]="'side'"
        [toggleableBtn]="true"
        [size]="'mail'">

        <div class="app-mini-sidebar-alt app-bg-container">
          <div class="app-mini-sidebar-alt__list">

            <div class="app-mini-sidebar-alt__list__item app-mini-sidebar-alt__list__item--active">
              <div class="app-mini-sidebar-alt__list__item__pill">
                <div class="app-mini-sidebar-alt__list__item__pill__text">Вхідні</div>
                <div class="app-mini-sidebar-alt__list__item__pill__icon">
                  <youdrive-ibm-icon iconSize="24" iconName="package"></youdrive-ibm-icon>
                </div>
              </div>
            </div>

            <div class="app-mini-sidebar-alt__list__item">
              <div class="app-mini-sidebar-alt__list__item__pill">
                <div class="app-mini-sidebar-alt__list__item__pill__text">Відзначені</div>
                <div class="app-mini-sidebar-alt__list__item__pill__icon">
                  <youdrive-ibm-icon iconSize="24" iconName="star"></youdrive-ibm-icon>
                </div>
              </div>
            </div>

            <div class="app-mini-sidebar-alt__list__item">
              <div class="app-mini-sidebar-alt__list__item__pill">
                <div class="app-mini-sidebar-alt__list__item__pill__text">Важливі</div>
                <div class="app-mini-sidebar-alt__list__item__pill__icon">
                  <youdrive-ibm-icon iconSize="24" iconName="alarm"></youdrive-ibm-icon>
                </div>
              </div>
            </div>

            <div class="app-mini-sidebar-alt__list__item">
              <div class="app-mini-sidebar-alt__list__item__pill">
                <div class="app-mini-sidebar-alt__list__item__pill__text">Надіслані</div>
                <div class="app-mini-sidebar-alt__list__item__pill__icon">
                  <youdrive-ibm-icon iconSize="24" iconName="sendAlt"></youdrive-ibm-icon>
                </div>
              </div>
            </div>

            <div class="app-mini-sidebar-alt__list__item">
              <div class="app-mini-sidebar-alt__list__item__pill">
                <div class="app-mini-sidebar-alt__list__item__pill__text">Чернетки</div>
                <div class="app-mini-sidebar-alt__list__item__pill__icon">
                  <youdrive-ibm-icon iconSize="24" iconName="document"></youdrive-ibm-icon>
                </div>
              </div>
            </div>

            <div class="app-mini-sidebar-alt__list__item">
              <div class="app-mini-sidebar-alt__list__item__pill">
                <div class="app-mini-sidebar-alt__list__item__pill__text">Спам</div>
                <div class="app-mini-sidebar-alt__list__item__pill__icon">
                  <youdrive-ibm-icon iconSize="24" iconName="error"></youdrive-ibm-icon>
                </div>
              </div>
            </div>

            <div class="app-mini-sidebar-alt__list__item">
              <div class="app-mini-sidebar-alt__list__item__pill">
                <div class="app-mini-sidebar-alt__list__item__pill__text">Кошик</div>
                <div class="app-mini-sidebar-alt__list__item__pill__icon">
                  <youdrive-ibm-icon iconSize="24" iconName="trashCan"></youdrive-ibm-icon>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="app-mini-sidebar-alt-holder">
          <div fxFill fxLayout="column" class="app-bg-container">
            <div class="app-header-subheader">
              <div class="app-productive-heading-02 flex-1">Вхідні</div>
              <div class="app-helper-text-01">
                Сортувати: <span class="font-bold">дата</span>
              </div>
            </div>
            <div>
              <ibm-search placeholder="Пошук..."
                          size="md"></ibm-search>
            </div>
            <div fxFlex class="relative">
              <div class="app-a-box app-scrollbar-fix">
                <ng-scrollbar>
                  <div class="app-list app-list--hover app-list--select-alt">
                    <ng-container *ngFor="let mail of mails">
                      <ng-container *ngIf="mail.sep">
                        <div class="app-list-header-title">{{mail.sep}}</div>
                      </ng-container>
                      <ng-container *ngIf="!mail.sep">
                        <div (click)="onSelect(mail)" [ngClass]="{'app-list__item--active':mail === selectedMail}"
                             class="app-list__item app-list__item--align-top">
                          <div class="app-list__item__prefix w-6 text-center">
                            <div style="padding-top:47px">
                              <ng-container *ngIf="!mail.read">
                                <div class="mb-4">
                                  <span class="w-2 h-2 rounded-full inline-block app-bg-info"></span>
                                </div>
                              </ng-container>
                              <ng-container *ngIf="mail.flagged">
                                <div class="mb-2 app-color-warning">
                                  <youdrive-ibm-icon iconName="flagFilled" iconSize="16"></youdrive-ibm-icon>
                                </div>
                              </ng-container>
                            </div>
                          </div>
                          <div class="app-list__item__content">
                            <div class="mr-4 min-w-0">
                              <div class="flex items-center overflow-hidden mb-2">
                                <div class="app-symbol mr-1">
                                  <div
                                    class="app-symbol__label app-bg-primary-lt-40 app-color-contrast rounded-full h-6 w-6 app-text-contrast">
                                    {{mail.sender[0]}}
                                  </div>
                                </div>
                                <div class="flex-1 overflow-hidden truncate">
                                  <span class="app-productive-heading-01 mr-2">{{mail.sender}}</span>
                                  <span class="app-helper-text-01">jon@noice.com</span>
                                </div>
                                <div class="whitespace-no-wrap app-label-01 text-muted ml-1">
                                  {{mail.date}}
                                </div>
                              </div>
                              <div class="app-productive-heading-02 mb-1">
                                {{mail.title}}
                                <ng-container *ngIf="mail.attachments">
                                  <youdrive-ibm-icon iconName="attachment" iconSize="16"></youdrive-ibm-icon>
                                </ng-container>
                              </div>
                              <div class="app-body-long-01">{{mail.content | slice:0:110}}...</div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </ng-scrollbar>
              </div>
            </div>
            <div class=" app-header-subheader app-border-t">
              <div class="flex flex-1 items-center justify-between">
                <div></div>
                <div class="flex items-center">
                  <div class="app-helper-text-01">1 - 10 з 1,451</div>
                  <button
                    ibmButton="ghost" size="sm"
                    class="bx--btn--icon-only bx--btn--remove-tooltip">
                    <svg class="bx--btn__icon" ibmIconChevronLeft size="32"></svg>
                  </button>
                  <button
                    ibmButton="ghost" size="sm"
                    class="bx--btn--icon-only bx--btn--remove-tooltip">
                    <svg class="bx--btn__icon" ibmIconChevronRight size="32"></svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </youdrive-sidenav>

      <div fxFill fxLayout="column" class="relative">
        <div class="app-a-box app-scrollbar-fix">
          <ng-scrollbar>
            <div class="app-header-subheader app-header-subheader--left-alt app-header-subheader--right-alt">
              <div class="flex flex-1 items-center">
                <button (click)="onToggleSidebar()" ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                  <svg class="bx--btn__icon" ibmIconOpenPanelLeft size="20"></svg>
                </button>
                <span class="app-btn-border-sep"></span>
                <button
                  ibmButton="ghost" size="sm"
                  class="bx--btn--icon-only bx--btn--remove-tooltip">
                  <svg class="bx--btn__icon" ibmIconFlag size="32"></svg>
                </button>
                <button
                  ibmButton="ghost" size="sm"
                  class="bx--btn--icon-only bx--btn--remove-tooltip">
                  <svg class="bx--btn__icon" ibmIconError size="32"></svg>
                </button>
                <button
                  ibmButton="ghost" size="sm"
                  class="bx--btn--icon-only bx--btn--remove-tooltip">
                  <svg class="bx--btn__icon" ibmIconTag size="32"></svg>
                </button>
                <span class="app-btn-border-sep"></span>
                <button
                  ibmButton="ghost" size="sm"
                  class="bx--btn--icon-only bx--btn--remove-tooltip">
                  <svg class="bx--btn__icon" ibmIconStar size="32"></svg>
                </button>
                <button
                  ibmButton="ghost" size="sm"
                  class="bx--btn--icon-only bx--btn--remove-tooltip">
                  <svg class="bx--btn__icon" ibmIconTrashCan size="32"></svg>
                </button>
                <button
                  ibmButton="ghost" size="sm"
                  class="bx--btn--icon-only bx--btn--remove-tooltip">
                  <svg class="bx--btn__icon" ibmIconPrinter size="32"></svg>
                </button>
              </div>
              <div class="flex-1 flex items-center justify-end" fxHide fxShow.gt-sm>
                <div class="app-helper-text-01">1 з 1,451</div>
                <button
                  ibmButton="ghost" size="sm"
                  class="bx--btn--icon-only bx--btn--remove-tooltip">
                  <svg class="bx--btn__icon" ibmIconChevronLeft size="32"></svg>
                </button>
                <button
                  ibmButton="ghost" size="sm"
                  class="bx--btn--icon-only bx--btn--remove-tooltip">
                  <svg class="bx--btn__icon" ibmIconChevronRight size="32"></svg>
                </button>
              </div>
            </div>
            <div class="app-header-subheader" style="height: 40px">
              <div class="flex justify-between flex-1 items-center">
                <div class="app-productive-heading-02">{{selectedMail.title}}</div>
                <ibm-tag type="warm-gray">робота</ibm-tag>
              </div>
            </div>
            <div class="app-card app-card--alone">
              <div class="app-card__content">
                <div class="flex items-center overflow-hidden mb-6">
                  <div class="app-symbol mr-2">
                    <div
                      class="app-symbol__label app-bg-primary-lt-40 app-color-contrast rounded-full h-10 w-10 app-text-contrast">
                      {{selectedMail.sender[0]}}
                    </div>
                  </div>
                  <div class="flex-1 overflow-hidden truncate">
                    <div class="mb-1">
                      <span class="app-productive-heading-01 mr-2">{{selectedMail.sender}}</span>
                      <span class="app-helper-text-01">bohdan@noice.com</span>
                    </div>
                    <div class="app-helper-text-01">
                      до <span class="font-bold">вас</span>, <span class="font-bold">Богдан</span>, <span
                      class="font-bold">Когутницький</span>
                    </div>
                  </div>
                  <div class="whitespace-no-wrap app-label-01 text-muted ml-1">
                    {{selectedMail.date}}
                  </div>
                </div>
                <p class="app-body-long-01">
                  <span>Привіт Богдан,</span><br/><br/>
                 <br/><br/>
                  <br/><br/>
                  <br/><br/>
                  З повагою,<br/>
                  <span class="font-bold">Команда YouDrive</span>
                </p>
                <p class="app-helper-text-01 text-muted mt-4">
                  Вміст цього листа електронної пошти - включаючи всі додатки до нього - є конфіденційним і вважається
                  комерційною таємницею.<br/>
                  Тому заборонено публікувати, поширювати, обмінюватися, копіювати будь-яким чином. Якщо ви не
                  є отримувачем, ви не маєте права використовувати або зберігати інформацію у цьому листі
                  електронної пошти. Якщо ви отримали це повідомлення випадково, будь ласка, негайно його
                  видаліть та повідомте відправника.
                </p>
                <div class="mt-6">
                  <textarea
                    ibmTextArea
                    [placeholder]="'Введіть свою відповідь тут'"
                    class="app-border-all"
                    [rows]="5"
                    [cols]="5"
                    aria-label="textarea"></textarea>
                  <div class="flex items-center mt-1">
                    <div class="flex-1 flex items-center">
                      <button
                        ibmButton="ghost"
                        size="sm"
                        class="bx--btn--icon-only">
                        <svg class="bx--btn__icon" ibmIconTextBold size="32"></svg>
                      </button>
                      <button
                        ibmButton="ghost"
                        size="sm"
                        class="bx--btn--icon-only">
                        <svg class="bx--btn__icon" ibmIconTextItalic size="32"></svg>
                      </button>
                      <button
                        ibmButton="ghost"
                        size="sm"
                        class="bx--btn--icon-only">
                        <svg class="bx--btn__icon" ibmIconTextUnderline size="32"></svg>
                      </button>
                      <span class="app-btn-border-sep"></span>
                      <button
                        ibmButton="ghost"
                        size="sm"
                        class="bx--btn--icon-only">
                        <svg class="bx--btn__icon" ibmIconAttachment size="32"></svg>
                      </button>
                      <button
                        ibmButton="ghost"
                        size="sm"
                        class="bx--btn--icon-only">
                        <svg class="bx--btn__icon" ibmIconImage size="32"></svg>
                      </button>
                    </div>
                    <button ibmButton="ghost" size="sm">
                      Скасувати
                    </button>
                    <button ibmButton="primary" size="sm">
                      Відправити
                      <svg class="bx--btn__icon" ibmIconSend size="20"></svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-scrollbar>
        </div>
      </div>
    </youdrive-sidenav-container>
  </div>
</div>
